In [9]:
lists=['machine learning', 'neural networks','vision','robotics','speech processing','natural language processing']

In [17]:
print("subfields in AI are :")
for i in lists:
    print (i)

subfields in AI are :
machine learning
neural networks
vision
robotics
speech processing
natural language processing

In [61]:
print("SUBFIELDS IN AI ARE :")

SUBFIELDS IN AI ARE :

In [103]:
lists=['SUBFIELDS IN AI ARE :' , 'machine learning', 'neural networks','vision','robotics','speech processing','natural language processing']

In [105]:

def SubfieldsInAI():
    for i in lists:
        print(i)

In [107]:
 SubfieldsInAI()

SUBFIELDS IN AI ARE :
machine learning
neural networks
vision
robotics
speech processing
natural language processing

In [ ]:
# ODDEVEN

In [47]:
num=int(input("enter the number :"))

enter the number : 52452

In [55]:
if(num%2==1):
    print(" 52452 is odd number")
else:
    print(" 52452 is even number")

 52452 is even number

In [57]:
def oddeven():
    if(num%2==1):
       print("52452 is odd number")
       result="52452 isodd number"
    else:
       print("52452 is even number")
       result="52452 is even number"
    return result

In [59]:
 oddeven()

52452 is even number

'52452 is even number'

In [119]:
mrg=input("your gender :")
age=int(input("your age:"))
if(age<20):
    print("Eligible")
else:
    print("Not Eligible")

your gender : male
your age: 20

Not Eligible

In [113]:
if(age<20):
    print("Eligible")
else:
    print("Not Eligible")

Not Eligible

In [127]:
def MarriageEligibility():
 mrg=input("your gender :")
 age=int(input("your age:"))
 if(age<20):
       print("Eligible")
       result="eligible" 
 else:
       print("Not Eligible")
       result="not eligible"
 return result

In [129]:
MarriageEligibility()

your gender : male
your age: 20

Not Eligible

'not eligible'

In [185]:
marks=int(input("subject1= "))
marks=int(input("subject2= "))
marks=int(input("subject3= "))
marks=int(input("subject4= "))
marks=int(input("subject5= "))
marks=int(input("Total= "))
percentage=468/500*100
print("percentage:",percentage)

subject1=  98
subject2=  87
subject3=  95
subject4=  95
subject5=  93
Total=  468

percentage: 93.60000000000001

In [187]:
def FindPercent():
    marks=int(input("subject1= "))
    marks=int(input("subject2= "))
    marks=int(input("subject3= "))
    marks=int(input("subject4= "))
    marks=int(input("subject5= "))
    marks=int(input("Total= "))
    percentage=468/500*100
    print("percentage:",percentage)

In [189]:
 FindPercent()

subject1=  98
subject2=  87
subject3=  95
subject4=  95
subject5=  93
Total=  468

percentage: 93.60000000000001

In [ ]:
#triangle

In [11]:
hgt=input("height :")
brdh=input("breadth :")
a=input("area formula :")
area =34*32/2
print("area of triangle is:",area)

height : 34
breadth : 32
area formula : (height*breadth)/2

area of triangle is: 544.0

In [13]:
hgt=input("height1 :")
hgt=input("height2 :")
brdh=input("breadth :")
a=input("perimeter formula :")
perimeter=2+4+4
print("perimeter of triangle :",perimeter)

height1 : 2
height2 : 4
breadth : 4
perimeter formula : height1+height2+breadth

perimeter of triangle : 10

In [19]:
def Triangle():
    hgt=input("height :")
    brdh=input("breadth :")
    a=input("area formula :")
    area =34*32/2
    print("area of triangle is:",area)
    hgt=input("height1 :")
    hgt=input("height2 :")
    brdh=input("breadth :")
    a=input("perimeter formula :")
    perimeter=2+4+4
    print("perimeter of triangle :",perimeter)

In [21]:
Triangle()

height : 34
breadth : 32
area formula : (height*breadth)/2

area of triangle is: 544.0

height1 : 2
height2 : 4
breadth : 4
perimeter formula : height1+height2+breadth

perimeter of triangle : 10